@model MVC_2._5Garage.Models.Members

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Members</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MemberName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MemberEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MemberPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id },new { id = Model.Id ,@class ="btn btn-primary btn-sm") |
    @Html.ActionLink("Back to Parked vehiclesl list", "Index")
</p>
